.flash-box
  .flash-box__notice
    グループを作成しました
.wrapper

  .chat-side
    .side-header
      %p.side-header__user-name
        hisako
      %ul.side-header__lists
        %li.list
          %i.fa.fa-edit
        %li.list
          %i.fa.fa-cog
            
    .groups
      .group
        .group__group-name
          テスト
        .group__latest-message
          hello!!
      .group
        .group-name
          test
        .group__latest-message
          このグループまとめられないかな

  .chat-main
    .main-header
      .left-box
        .left-box__title
          test
        %ul.left-box__member-list
          Member：
          %li.member
            hisako
      .right-box
        .right-box__edit-btn
          Edit

    .messages
      .message
        .top-message
          .top-message__user-name
            hisako
          .top-message__date
            2019/9/14
        .bottom-meesage
          .bottom-message__content
            こんにちは
      .message
        .top-message
          .top-message__user-name
            sugi
          .top-message__date
            2019/9/15
        .bottom-meesage
          .lower-message__content
            Good!!

    .form
      %form
        .form__text
          %input.form__message{placeholder: "type a message"}
          %label.form__text__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
            %input.form__submit{type: 'submit', value: 'Send'}
