.side-bar {
  box-sizing: border-box;
  float:left;
  color: $white;
  width: 300px;
  .header {
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      font-size: $side_header_font;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $white;
        font-size: $side_header_font;
      }
    }
  }

  .groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        font-size: $side_group_name;
      }
      &__message {
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}


// .chat-side {
//   width: 300px;
//   color:$white;
//   box-sizing: border-box;
  
//   .side-header{
//     display: flex;
//     justify-content: space-between;
//     font-weight: bold;
//     line-height: 100px;
//     background-color: #253141;
//     height: 100px;
//     padding: 0 20px;
//     &__user-name{
//       display: inline-block;
//       font-size:16px;
//       font-weight: bold;

//     }
//     &__lists{

//       margin: 0 0 0 4.8px;
//       .list{
//         display:inline-block;
//         padding-left:5px;
//       }
//       .icon{
//         color: $white;
//         font-size: 16px;
//       }
//     }
//   }
// }

// .groups{
//   height: calc(100vh - 100px);
//   background-color: #2f3e51;
//   padding: 20px 20px 0;
//   .group{
//     margin-bottom: 40px;
//     box-sizing: border-box;
//   &__group-name{
//     font-size: 15px;
//     margin-bottom: 5px; 
//     cursor: pointer;
//   }
//   &__latest-message{
//     font-size: 11px;
//     cursor: pointer;
//   }
// }
// }